{% extends 'layout.html.twig' %}

{% set active = 'homepage' %}

{% block content %}
    <h1>{{ 'Make score for games:'|trans }}</h1>
    {{ form(form, { attr: { novalidate: true } }) }}
{% endblock %}
